{% extends 'base.html' %}

{% block content %}
<style>
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    body {
        background-image: url('../static/images/background5.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        background-position: center;
        background-size: cover;
    }
    .button-create {
        background-color: #17408B;
        color: white;
        border-radius: 10px;
        margin-bottom: 10%;
        width: 10%;
    }
</style>
<br>
<h1 style="color: white;">{% block title %} Simulate 2 Teams Playing {% endblock %}</h1>
<form method="post">
    <label for="form-control" style="color: white;">Team A</label>
    <select class="form-control" name="TeamA" id="TeamA">
        <option>Miami Heat</option>
        <option>Los Angelos Lakers</option>
        <option>New York Knicks</option>
        <option>Atlanta Hawks</option>
        <option>Boston Celtics</option>
        <option>Brooklyn Nets</option>
        <option>Charlotte Hornets</option>
        <option>Chicago Bulls</option>
        <option>Cleveland Cavaliers</option>
        <option>Dallas Maverick</option>
        <option>Denver Nuggets</option>
        <option>Detroit Pistons</option>
        <option>Golden State Warriors</option>
        <option>Houston Rockets</option>
        <option>Indiana Pacers</option>
        <option>Los Angeles Clippers</option>
        <option>Memphis Grizzlies</option>
        <option>Milwaukee Bucks</option>
        <option>Minnesota Timberwolves</option>
        <option>New Orleans Pelicans</option>
        <option>Oklahoma City Thunder</option>
        <option>Orlando Magic</option>
        <option>Philadelphia 76ers</option>
        <option>Phoenix Suns</option>
        <option>Portland Trail Blazers</option>
        <option>Sacramento Kings</option>
        <option>San Antonio Spurs</option>
        <option>Toronto Raptors</option>
        <option>Utah Jazz</option>
        <option>Washington Wizard</option>
    </select>
    <br>
    <div class="form-group">
        <label for="win_pctA" style="color: white;">Team A Win Percentage</label>
        <input type="win_pctA" class="form-control" name="win_pctA" placeholder="Enter a Percentage">
        <small id="emailHelp" class="form-text text-muted">Team Overall Percentage at the Current Time</small>
    </div>

    <label for="form-control" style="color: white;">Team B</label>
    <select class="form-control" name="TeamB" id="TeamB">
        <option>Miami Heat</option>
        <option>Los Angelos Lakers</option>
        <option>New York Knicks</option>
        <option>Atlanta Hawks</option>
        <option>Boston Celtics</option>
        <option>Brooklyn Nets</option>
        <option>Charlotte Hornets</option>
        <option>Chicago Bulls</option>
        <option>Cleveland Cavaliers</option>
        <option>Dallas Maverick</option>
        <option>Denver Nuggets</option>
        <option>Detroit Pistons</option>
        <option>Golden State Warriors</option>
        <option>Houston Rockets</option>
        <option>Indiana Pacers</option>
        <option>Los Angeles Clippers</option>
        <option>Memphis Grizzlies</option>
        <option>Milwaukee Bucks</option>
        <option>Minnesota Timberwolves</option>
        <option>New Orleans Pelicans</option>
        <option>Oklahoma City Thunder</option>
        <option>Orlando Magic</option>
        <option>Philadelphia 76ers</option>
        <option>Phoenix Suns</option>
        <option>Portland Trail Blazers</option>
        <option>Sacramento Kings</option>
        <option>San Antonio Spurs</option>
        <option>Toronto Raptors</option>
        <option>Utah Jazz</option>
        <option>Washington Wizard</option>
    </select>
    <br>
    <div class="form-group">
        <label for="win_pctB" style="color: white;">Team B Win Percentage</label>
        <input type="win_pctB" class="form-control" name="win_pctB" placeholder="Enter a Percentage">
        <small id="emailHelp" class="form-text text-muted">Team Overall Percentage at the Current Time</small>
    </div>
    <label for="form-control" style="color: white;">Home Team</label>
    <select class="form-control" name="Home" id="Home">
        <option>Team A</option>
        <option>Team B</option>
    </select>
    <br>
    <label for="form-control" style="color: white;">Number of Simulations</label>
    <select class="form-control" name="simulations" id="simulations">
        <option>1</option>
        <option>10</option>
        <option>20</option>
    </select>
    <br>
    <button type="submit" class="btn button-create" style="margin-bottom: 20px" name="submit_button" value="Submit">Submit</button>
    <br>
</form>
{% endblock %}
